<mat-toolbar color="accent">
  <mat-toolbar-row>
    <span>
      <a routerLink="/" class="brand"> Socio Club </a>
    </span>
    <span class="spacer"></span>
    <span *ngIf="isUserAuthenticated" class="mat-caption"
      >Hi, {{ username }}</span
    >
    <span *ngIf="!isUserAuthenticated" class="mat-caption"
      >You are not logged in!</span
    >
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="isUserAuthenticated">
        <a mat-button routerLink="/create" routerLinkActive="mat-primary"
          >Create Post</a
        >
      </button>
      <button mat-menu-item *ngIf="!isUserAuthenticated">
        <a mat-button routerLink="/auth/login" routerLinkActive="mat-primary"
          >Login</a
        >
      </button>
      <button mat-menu-item *ngIf="!isUserAuthenticated">
        <a mat-button routerLink="/auth/signup" routerLinkActive="mat-primary"
          >Signup</a
        >
      </button>
      <button mat-menu-item *ngIf="isUserAuthenticated">
        <button type="button" mat-button (click)="onLogout()">Logout</button>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
